################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/CreditCardValidator.Droid/v15/Server/sqlite3/storage.ide-shm
/.vs/CreditCardValidator.Droid/v15/Server/sqlite3/storage.ide-wal
/CreditCardValidator/obj/Debug/DesignTimeResolveAssemblyReferences.cache
/murban.keystore
